.joints__container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.cas__container {
  display: flex;
  justify-content: center;
}

.navbar {
  background: #000;
  color: aqua;
  padding: 2rem;
  font-size: 3rem;
}
