@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
    /* transform: rotateZ(180deg); */
  }
}
@keyframes scroll2 {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
      /* transform: rotateZ(180deg); */
    }
  }

.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;

  &::before,
  &::after {
    @include white-gradient;
    content: "";
    height: 100px;
    position: absolute;
    width: 200px;
    z-index: 100;
  }

  &::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
  }

  &::before {
    left: 0;
    top: 0;
  }
}

.slide-track {
  animation: scroll 30s linear infinite;
  display: flex;
  /* width: calc(250px * 8); */
  /* transition: 10s; */
}

.slide {
  height: 100px;
  /* animation: scroll 30s linear infinite; */
  width: 200px;
  /* background-color: white; */
  margin-right: 20px;
  margin-left: 20px;
  color: black;
  position: relative;
  /* animation: scroll 40s ease; */
}

.slide-track-2 {
    animation: scroll2 30s linear infinite;
    /* transform: translateX(100%); */
    /* animation-delay: 2s; */
    display: flex;
    /* width: calc(250px * 8); */
    transition-delay: 10s;
    
    /* transition: 10s; */
  }

/* // Animation */
